@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/* 
구글폰트 -> monoton / play 

*/

*{
    margin:0;
    padding:0;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    vertical-align: top;
}

.wrap{}

.vBox{
    position: fixed;
    /* 브라우저에 귀속된다 :스타일이!
    너비와 높이를 상대값(%등)으로 줄 때,
    기준이 브라우저가 됨. 

    position:fixed / width:100% / height:100%
    지금처럼 하나의 뷰로 끝나는 페이지 제작시 유용한 공식~
    */
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#333;
}

.vBox video{
    width: 100%;
    min-width: 1600px;
    /* 최소너비: 상대값으로 되어있는 요소가 줄어들거나 늘어날때의
    최저값 */
    /* position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    
}

header{
    width: 700px;
    height: 100%;
    transform: skewX(-40deg);
    position: absolute;
    top:0;
    left:-420px;
    background-image: linear-gradient(-45deg, #e6fc55, #b9fb05, #97e031);
            /* background 그레이디언트 방향 설정하는 법
                background-image:linear-gradient(각도,색깔,색깔..)
                각도 부분에 키워드를 쓸 수 있다!: to top / to left / to right...
                각도로 지정할 경우 : deg단위를 쓴다. 
            */
}

h1{
    transform: skewX(40deg);
    position: absolute;
    left: 200px;
    top:40px;
}

.gnb span{
    transform: skewX(40deg);
    display: block;
    /* 인라인요소에는 transform이 안먹힌다 */
}


.gnb{
    font-family: 'play', sans-serif;
    position: absolute;
    right: 0;
    top: 150px;
}

.gnb>li{
    position: relative;
}

.gnb>li>a{
    display: block;
    width: 220px;
    line-height: 50px;
    color:#222;
    font-size: 18px;
    text-align: right;
    padding-right: 40px;
    box-sizing: border-box;
}

.gnb>li:hover>a{
    background-color:#222;
    color:#fff
}

.sub{
    position: absolute;
    left:0px;
    top:0;
    transition: all 0.4s;
    opacity: 0;
}

.gnb>li:hover .sub{
    left:205px;
    opacity: 1;
}

.gnb .on a{
    background-color:#222;
    color:#fff;
}

.gnb .on .sub{
    left: 205px;
    opacity: 1;
}



.sub a{
    display: block;
    width: 150px;
    line-height: 40px;
    background-color: #222;
    color:#fff;
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
    text-align: center;
    border-bottom: 1px solid #b9fb05;  
    opacity: 0.8; 
}

.sns{
    position: absolute;
    top: 60px;
    right: 50px;
    color: #b9fb05;
    
}

.sns:after{
    content:'';
    clear: both;
    display: block;
}

.sns li{
    margin-left: 30px;
    float: left;
   font-size: 25px;
   opacity: 0.5;
   transition: all 0.5s;
}    

.sns li:hover{
    opacity: 1;
    transform: scale(1.4);
}

article{
    position: absolute;
    top: 200px;
    right: 70px;
    line-height: 1;
    /* 행간!
        px로 줄 수 있지만
        단위 없이 그냥 줄 수도 있다
        단위 없이 줄 경우 : 폰트사이즈 x n 배 
        
        브라우저 기본 lineheight 값은
        브라우저마다 미묘하게 다르나
        대체로 1.3~1.4 사이*/
    
}

article strong{
    font-style: normal;
    font-weight: normal;
    font-size: 160px;
    color: #b9fb05;
    font-family: 'monoton';
    letter-spacing: -1px;
}

article p{
    font-size: 50px;
    color: #fff;
    font-style: italic;
    font-family: 'play';
}

article h2{
    font-size: 34px;
    color: #bbb;
    font-family: 'play';
    letter-spacing: -2px;
}

article span{
    font-size: 34px;
    color: #b9fb05;
    margin-left: 20px;
    font-family: Arial;
    font-weight: bold;
}

section{
    width: 800px;
    position: absolute;
    right: -800px;
    bottom: 0;
    height: 100%;
    /* position: absolute 쓴 상태에서 height를 100% 쓰면
    무조건 부모의 높이만큼으로 적용된다! */
    background-color: #111;
    transform: skewX(-40deg);
    opacity: 0.5;
    transition: all 0.5s;
}

section:hover{
    right: -400px;
    opacity: 0.8;
}
section .con{
    width: 400px;
    position: absolute;
    height: 100%;
    left: 150px;
    bottom: 0;
    background-color: #000;
    transition: all 1s;
}

section:hover .con{
    left: 50px;
}
.conWrap{
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #b9fb05;
}

.conWrap .item{
    margin-bottom: 10px;
    opacity: 0.3;
    transform: translateX(200px);
    transition: all 0.4s;
}

.conWrap .item:nth-child(2){
    transition: all 0.8s
}
.conWrap .item:nth-child(3){
    transition: all 1.2s
}

.conWrap .item:hover{
    opacity: 1;
}
section:hover .item{
    transform: translateX(0);
}

.arr{
    position: absolute;
    bottom: 40px;
    left: 100px;
    transform: skewX(40deg);
    width: 150px;
}

.arr i{
    font-size: 60px;
    color: #b9fb05;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 1;
    /* animation-name: arr;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    */

    animation:arr 1.5s infinite linear;
}

@keyframes arr{
    0%{opacity: 1; right: 0;}
    100%{opacity:0; right: 100px; transform:scale(1.5);}
}

.arr i:nth-child(2){
    animation-delay: 0.4s;
}

.arr i:nth-child(3){
    animation-delay: 0.8s;
}

section:hover .arr{
    display: none;
}

body{
    overflow-x: hidden;

    /* x축의 흘러넘치는 것들을 숨김~ */
} 

